*.pyc

# vim
.*.swp

*.DS_Store

# virtualenv
/bin
/include
/lib
/lib64
/build
bin
include
lib
lib64
build

# buildout
*.egg-info
.installed.cfg
/develop-eggs
/django-apps-src
/eggs
/parts
/etc
develop-eggs
django-apps-src
eggs
parts
etc
# do not hide /var/log, if does not exist uwsgi refuses to start
/var/log/uwsgi.log

# project db
*.sqlite3
.Python

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/swissnation_site.iml

.idea/vcs.xml

.idea/workspace.xml
