*.pyc

# vim
.*.swp

*.DS_Store

# virtualenv
/bin
/include
/lib
/lib64
/build
bin
include
lib
lib64
build

# buildout
*.egg-info
.installed.cfg
/develop-eggs
/django-apps-src
/eggs
/parts
/etc
develop-eggs
django-apps-src
eggs
parts
etc
# do not hide /var/log, if does not exist uwsgi refuses to start
/var/log/uwsgi.log

# project db
*.sqlite3